[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/apt"]
	path = modules/apt
	url = git://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/phpfpm"]
	path = modules/phpfpm
	url = git@github.com:Slashbunny/puppet-phpfpm.git
[submodule "modules/php"]
	path = modules/php
	url = git@github.com:jippi/puppet-php.git
[submodule "modules/laravel"]
	path = modules/laravel
	url = git@github.com:/gpkfr/gpkfr-laravel
[submodule "modules/wget"]
	path = modules/wget
	url = git://github.com/maestrodev/puppet-wget.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = git://github.com/willdurand/puppet-nodejs.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = git://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/webreader"]
	path = modules/webreader
	url = git://github.com/gpkfr/gpkfr-webreader.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
