[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/apt"]
	path = modules/apt
	url = git://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/phpfpm"]
	path = modules/phpfpm
	url = git@github.com:Slashbunny/puppet-phpfpm.git
[submodule "modules/php"]
	path = modules/php
	url = git@github.com:jippi/puppet-php.git
[submodule "modules/laravel"]
	path = modules/laravel
	url = git@github.com:/gpkfr/gpkfr-laravel
