---
# Adapt this value to your needs, but do not allocate more you have ;)
memory: "3072"
cpus: "1"
ip: "192.168.212.220"
#SSH Stuff keep vagrant public keys
authorized_keys:
    - ./files/vagrant.pub
    - ~/.ssh/id_rsa.pub

# if you need it
private_keys:
    - ~/id_rsa

#map Folders to the vm, adapt to your needs (puppet manifest...)
shared_folders:
    - map: ~/Documents/git/IbX/l4
      to: /home/vagrant/www

# Forward local port to the vm
forwarded_port:
     - guest: "80"
       host: "8080"


#Puppet manifest to use
manifest: "default.pp"
