---
#Debug mode
#Default false
#debug: true
# change vagrant box (default value used when commented)
# vagrant_box = "gpkfr/wheezy64_fr_v7"
# Adapt this value to your needs, but do not allocate more you have ;)
memory: "1024"
cpus: "1"
ip: "192.168.212.220"
network_type: "private" #must be public when using NFS /!\

#SSH Stuff
#Public Keys
authorized_keys:
    - ~/.ssh/id_rsa.pub

# if you need it
private_keys:
    - ~/.ssh/id_rsa

#map Folders to the vm, adapt to your needs ( adapt your puppet manifest...)
shared_folders:
    - map: ~/Documents/git/IbX/l4
      to: /home/vagrant/www
#      type: "nfs"  # set network_type to "public" /!\

# Forward local port to the vm
# Params :
# guest => guest vm port
# host => Host port
# protocol => optional, either tcp or udpdefault to tcp 
forwarded_port:
     - guest: "80"
       host: "8080"
       protocol: "tcp"

#Puppet manifest to use
manifest: "default.pp"


#Custom Puppet Fact
#You can Add custom puppet Fact here and use it in your manifest ;)
#Ex for laravel manifest
#dbserver : install Database [none, sqlite, mysql,postgresql]
#redis : install Redis [true,false]
#beanstalkd : install beanstalkd [true,false]
#hhvm : Install hhvm [true,false] (experimental /!\)
#xdebug : Install Xdebug [true,false]
#node: Install node [true,false]
#phprelease: install php taste [5.5, 5.6, zts]
#facters:
#    dbserver: sqlite
#    redis: false
#    beanstalkd: false
#    hhvm: false
#    xdebug: false
#    node: false
#    phprelease: 5.6

